
/*Navigation styling*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
    color: #034f84;
  }
  
.navbar-nav li a:hover {
    color: #034f84 !important;
  }

.bg-1 {
    background-color: #92a8d1;
    color: #ffffff;
  }

  #index-main {
    padding-top: 70px;
    padding-bottom: 70px;
    }
  
   img{
    width: 200px;
    height: 200px;
    }
  
  .blockquote {
    padding-top: 50px;
  }
  
  #about-me-text {
     text-align: justify;
  }
  
footer{
    background: #034f84;
}
/* Social media icons*/

.fa {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #360664;
  }
  
  /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
/*copyright styling*/
#copyright {
 text-align: center;
}


