html, body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/*Navigation styling*/
.navbar {
    letter-spacing: 5px;
    color: #034f84;
    background-color: #ffffff;
    z-index: 1;
}
  
.navbar-nav li a:hover {
    color: #034f84 !important;
}

/*Main colors*/
.bg-1 {
    background-color: #92a8d1;
    color: #ffffff;
}

.bg-2 {
  background-color: #034f8f;
  color: #ffffff;
}

/* First section*/
#index-main {
    padding-top: 15rem;
    padding-bottom: 5rem;
}
  
.blockquote {
    font-family: "Truculenta", sans-serif;
}
  
#about-me-text {
     font-family: "Truculenta", sans-serif;
     color: #034f8f;
     text-align: justify;
}

img {
  width: auto;
  height: 20%;
}

img:hover {
  transform: scaleX(-1);
}

/* Card styling*/
.card{
	width: 22rem;
  height: 15rem;
  background: #f7cac9;
  clear: both;
}

/* Footer styling */
footer{
    background: #034f84;
    clear: both;
}

.fa-message {
  color: #034f84;
}

/* Social media icons*/
.fa-brands {
    padding: 20px;
    margin: 20px;
    width: 70px;
    color: #034f84;
    background: #f7cac9;
    border-radius: 50%;
    text-decoration: none;
}
  
/* Add a hover effect */
.fa-brands:hover {
    opacity: 0.5;
}

/* Form styling */
#contact-header{
      color:#ffffff;
      padding-top: 3rem;
      padding-bottom: 2rem;
}

/*copyright styling*/
#copyright {
 color: #92a8d1;
}

/*Skills section styling*/
.progress {
    height: 20px;
    margin: 25px;
}
 
.fa-regular {
     padding-left: 50px;
}
 
td {
     padding-top: 40px;
     padding-left: 50px;
}

@media only screen and (max-width: 1393px){
  #about-me-text{
    clear: both;
  }
  #image-with-quote{
    clear: both;
  }
}

